<div class="app-margin">
  <h1 class="mat-h1">Continuous Integration/Continuous Delivery</h1>
  <p>
    The only thing I should worry about is writing code, and then pushing it to
    Git. Testing, linting, packaging and deploying to a server should all be
    done in the background. In order to accomplish this, I need to read the
    <a href="https://docs.gitlab.com/ee/ci/">GitLab CI/CD Docs</a>.
  </p>

  <h1 class="mat-h1">Ignorance is Bliss</h1>
  <p>
    Well, I ignored all those docs and tried guessing my way through deployment.
    That went as well as expected.
  </p>

  <h1 class="mat-h1">
    Not Using Official Docker Images

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="tests"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>

  <pre><code [highlight]="tests"></code></pre>
  <p>
    I
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242409476"
      >tried</a
    >
    reinventing the installation process of Chromium in Docker. But
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242414564">after</a
    >&nbsp;
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242416507">many</a
    >&nbsp;
    <a href="https://gitlab.com/brandonp2412/about-me/-/jobs/242441219"
      >attempts</a
    >, I decided it was time to use an
    <a href="https://hub.docker.com/r/selenium/standalone-chrome/"
      >official image</a
    >.
  </p>

  <h1 class="mat-h1">Extending Selenium Standalone Chrome</h1>
  <p>
    While installing Chromium in a Docker container was hard, installing Node.js
    is very easy. Due to this, I
    <a href="https://gitlab.com/brandonp2412/nodejs-chromium">extended</a> the
    Selenium Standalone Chrome Docker image to also install Node.js.
  </p>

  <h1 class="mat-h1">
    Success

    <button
      mat-icon-button
      ngxClipboard
      [cbContent]="success"
      matTooltip="Copy to Clipboard"
      class="copy"
      (click)="snackbarService.notifyCopied()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </h1>
  <pre><code [highlight]="success"></code></pre>
  <p>
    Through the magic of actually reading the docs, and using offical docker
    images, I had created a useful pipeline. Now whenever I commit a horrendous
    change which fundamentally breaks every part of my codebase, it won't
    actually be presented to end users.
  </p>
</div>
