<div class="app-margin">
  <h1 class="mat-h1">Projects</h1>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Relic Mint
        <button
          mat-icon-button
          class="more-button"
          [matMenuTriggerFor]="menu"
          aria-label="Toggle menu"
        >
          <i class="fab fa-gitlab"></i>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item href="https://gitlab.com/brandonp2412/relic-mint">
            <i class="fab fa-angular"></i>
            Frontend
          </a>
          <a
            mat-menu-item
            href="https://gitlab.com/brandonp2412/relic-mint-api"
          >
            <i class="fab fa-node-js"></i>
            API
          </a>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>Saving you Money in Warframe</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="3">
        <mat-grid-tile>
          <img src="assets/angular2.png" alt="Angular 2" />
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/nodejs.png" alt="Node.js" />
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/mongodb.png" alt="MongoDB" />
        </mat-grid-tile>
      </mat-grid-list>
      <p>
        A MEAN stack project for valuing your Relics in
        <a href="https://www.warframe.com">Warframe</a>.
      </p>
      <p>
        Track all the Relics you've earned and see how their prices fluctuate.
        No more jumping between
        <a href="https://warframe.market">warframe.market</a> and your
        inventory.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Memeify
        <a
          href="https://gitlab.com/brandonp2412/memeify"
          class="more-button"
        >
          <i class="fab fa-github"></i>
        </a>
      </mat-card-title>
      <mat-card-subtitle>Surround Messages With Emojis</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <img src="assets/discord.png" alt="Discord" />
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/python.svg" alt="Python" />
        </mat-grid-tile>
      </mat-grid-list>
      <p>
        A Discord bot project which started off as a joke. But who's laughing
        now?
      </p>
      <p>
        With the power of the Discord bot API, Docker and Amazon EC2 hosting I
        have created a crime against humanity, please don't use this.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Next Episode
        <a
          href="https://github.com/brandonp2412/NextEpisode"
          class="more-button"
        >
          <i class="fab fa-github"></i>
        </a>
      </mat-card-title>
      <mat-card-subtitle>TV Show Tracking</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="3">
        <mat-grid-tile>
          <img src="assets/angular2.png" alt="Angular 2" />
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/spring-boot.png" alt="SpringBoot" />
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/mariadb.png" alt="MariaDB" />
        </mat-grid-tile>
      </mat-grid-list>
      <p>
        A JHipster project for keeping up to date with all your favorite T.V.
        shows.
      </p>
      <p>
        Record which shows you are currently watching, and see a visual display
        of how long is left until the upcoming episode.
      </p>
    </mat-card-content>
  </mat-card>

</div>
