.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-icon {
  margin-right: 5px;
}

i {
  margin-right: 8px;
  margin-left: 3px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 200px !important;
}