<div class="app-margin">
  <h1 class="mat-h1">My Technology Experience</h1>
  <h4 class="mat-h4">What i've used and for how long.</h4>

  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="mat-elevation-z8 scroll-box">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let technology">{{ technology.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Short Description
        </th>
        <td mat-cell *matCellDef="let technology">
          {{ technology.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="professional_experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Years Experience (Professionally)
        </th>
        <td mat-cell *matCellDef="let technology">
          {{ technology.professional_experience }}
        </td>
      </ng-container>

      <ng-container matColumnDef="personal_experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Years Experience (Personally)
        </th>
        <td mat-cell *matCellDef="let technology">
          {{ technology.personal_experience }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let technology; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
