<div class="app-margin">
  <h1 class="mat-h1">Who am I?</h1>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/profile-picture.png" />
      <mat-card-title>Brandon Presley</mat-card-title>
      <mat-card-subtitle>Application Developer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Coming up on my third year in software development, i'm taking things as
        they come.
      </p>
      <p>
        My favorite part of programming is the moment when my projects
        successfully come to fruition, and I can finally interact with my work.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://gitlab.com/brandonp2412" mat-icon-button>
        <i class="fab fa-gitlab"></i>
      </a>
      <a href="https://github.com/brandonp2412" mat-icon-button>
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:brandonp2412@gmail.com" mat-icon-button>
        <mat-icon>email</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <h1 class="mat-h1">My Philosophy</h1>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/garfield.gif" />
      <mat-card-title>Laziness</mat-card-title>
      <mat-card-subtitle>How I Minimize Effort</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I strive to work smart, not hard. This is reflected in all aspects of my
        work, where I take complicated requirements, and boil them down to the
        fundamentals.
      </p>
      <p>
        The best example of how I do this is by creating reusable programs. With
        Angular specifically, when a Component may be useful for multiple
        scenarios, I turn it into a module. This way I can create pages with
        consistency and ease.
      </p>
    </mat-card-content>
  </mat-card>
</div>
